@model IEnumerable<StatauIrPristatau.Models.User>
<!DOCTYPE html>
<html>


<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Statau ir pristatau</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>

        table tbody tr:hover {
            background-color: #ffe0e0;
        }
    </style>
</head>
<body>


    <div>
        <div style="width: 100%">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c0392b">
                <a class="navbar-brand" href="#">Statau ir pristatau</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="margin-left: auto">
                        <li class="nav-item">
                            @Html.ActionLink("Naudotojų sąrašas", "ToMainView", "MainAdmin", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Užsakymų istorija", "openOrderHistory", "MainUser", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Vykdomi užsakymai", "openOrderedShipments", "Customer", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Žemėlapis", "openMap", "Customer", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Vertinimas", "openCourierRatings", "Customer", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Atsijungti</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container mt-5">
            <div>
                <h3>Kurjerių sąrašas</h3>
            </div>

            @using (Html.BeginForm())
    {
        <p>
            FiltriukasPagalEmail: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
}
            <table class="table">
                <thead>
                    <tr style="background-color: #c0392b">
                        <th scope="col">#</th>
                        <th scope="col">El. Paštas</th>
                        <th scope="col">Bendras Užsakymo Vertinimas</th>
                        <th scope="col">Kurjerio požiūris</th>
                        <th scope="col">Siuntinio kokybė</th>
                        <th scope="col">Pristatymo greitis</th>
                    </tr>
                </thead>
                <tbody>
                    @{
        int i = 0;
        foreach (var user in Model)
        {
            i++;
            int u = 0;
            double sum = 0;
            double average = 0;
            double sum1 = 0;
            double average1 = 0;
            double sum2 = 0;
            double average2 = 0;
            double sum3 = 0;
            double average3 = 0;
                <tr>
                    <th scope="row">@i</th>
                    <td>@Html.DisplayFor(userItem => user.Email)</td>

                    @{foreach (var ranks in user.Rankings)

        {
            if (user.Rankings != null)
            {
                u++;

                double a = ranks.Overall;
                sum = sum + a;
                double b = ranks.CourierRanking;
                sum1 = sum1 + b;
                double c = ranks.ParcelQuality;
                sum2 = sum2 + c;
                double d = ranks.DeliveryTime;
                sum3 = sum3 + d;
            }
        }
                    }
                    @{ average = sum / u;}
                    @{ average1 = sum1 / u;}
                    @{ average2 = sum2 / u;}
                    @{ average3 = sum3 / u;}
                    <td>@Html.DisplayFor(userItem => average)</td>
                    <td>@Html.DisplayFor(userItem => average1)</td>
                    <td>@Html.DisplayFor(userItem => average2)</td>
                    <td>@Html.DisplayFor(userItem => average3)</td>
                </tr>
}
                    }
                    @Html.ActionLink("Sukurti naują vertinimą", "openRatingsPop", "Customer", null, new { @class = "btn px-4 py-2 mb-4 mt-2", @style = "background-color: #c0392b; color: white;" })

                 


                </tbody>
            </table>
        </div>
    </div>



</body>
