
<head>


    @{
        ViewBag.Title = "MainView";
    }
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Statau ir pristatau</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <style>
        table tbody tr:hover {
            background-color: #ffe0e0;
        }
    </style>
</head>

<body>

    @if (Session["UserId"] != null)
    {
        @model IEnumerable<StatauIrPristatau.Models.User>
    <div>
        <div style="width: 100%">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c0392b">
                <a class="navbar-brand" href="#">Statau ir pristatau</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="margin-left: auto">
                        <li class="nav-item">
                            @Html.ActionLink("Naudotojų sąrašas", "ToMainView", "MainAdmin", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Užsakymų istorija", "openOrderHistory", "MainUser", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Vykdomi užsakymai", "openOrderedShipments", "Customer", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Žemėlapis", "openMap", "Customer", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item ">
                            @Html.ActionLink("Vertinimas", "openCourierRatings", "Customer", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link disabled" href="#">Atsijungti</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container mt-5">
            <div>
                <h3>Naudotojų sąrašas</h3>
            </div>
            <div>
                @Html.ActionLink("Sukurti naują naudotoją", "Registration", "MainAdmin", null, new { @class = "btn px-4 py-2 mb-4 mt-2", @style = "background-color: #c0392b; color: white;" })
            </div>
            <table class="table">
                <thead>
                    <tr style="background-color: #c0392b">
                        <th scope="col">#</th>
                        <th scope="col">El. Paštas</th>
                        <th scope="col">Vardas</th>
                        <th scope="col">Pavardė</th>
                        <th scope="col">Veiksmai</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@i</th>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                                <td>@Html.ActionLink("Peržiūrėti", "Details", "MainAdmin", new { id = item.Id }, null)</td>
                            </tr>
                            i++;
                        }

                    }


                </tbody>
            </table>
        </div>
    </div>
}

</body>



